<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href=" <%= root_path %>">
      <img src="../assets/images/WizardingWorld.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
      Wizarding World
    </a>
  </div>
</nav>
