<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href=" <%= root_path %>">
      <img src="https://e7.pngegg.com/pngimages/180/204/png-clipart-harry-potter-and-the-philosophers-stone-harry-potter-and-the-deathly-hallows-harry-potter-and-the-cursed-child-lord-voldemort-harry-potter-s-monochrome-sticker-thumbnail.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
      Wizarding World de Harry Potter
    </a>
  </div>
</nav>
