
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1551269901-5c5e14c25df7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80);">
  <div class="container">
    <h1>Wizarding World</h1>
    <p>Encontrá todos tus personajes favoritos del mundo de Harry Potter.</p>
    <%= link_to "Buscá tu Personaje", characters_path(@character) %>
  </div>
</div>

<%= render "pages/homecard" %>
