<ul>
  <% @characters.each do |character| %>
    <li><%= link_to character.name, character_path(character) %></li>
    <li><%= character.image_url %></li>
  <% end %>
</ul>


<%= link_to "CREAR UN NUEVO PERSONAJE", new_character_path(@character) %>
